<section class="sw__static-pages sw__jewelry-care-page">
  <div class="sw__jewelry-care-page-banner">
    {% include 'breadcrumbs' %}
    {% section 'jewelry-care-banner' %}
  </div>
  <div class="page-width">
    {% section 'jewelry-care-section1' %}
    {% section 'jewelry-care-section2' %}
  </div>
</section>
