<div class="boba-fett-page">
  {% include 'boba-fett-css' %}
  {% section 'boba-fett-banner' %}
  {% section 'boba-sett-text-section' %}
  {% section 'boba-fett-left-text' %}
  {% section 'boba-fett-right-text' %}
  {% section 'boba-fett-left-text-second' %}
  {% section 'boba-sett-discover-all-section' %}
  {% section 'boba-fett-discover-new-styles' %}
</div>