<div class="section-wrapper">
  <div class="page-width">
    {% if section.settings.title != blank %}
    <h1 class="heading text-center">{{ section.settings.title }}</h1>
    {% endif %}
    <img class="lazyload"
         src="{{ section.settings.image | img_url: 'master' }}"
         data-src="{{ section.settings.image | img_url:"master" }}"
         data-sizes="auto"
         alt="" />
  </div>
</div>

{% schema %}
  {
    "name": "Heading with image",
	"class": "vd-heading-with-image-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Desktop Image"
      },
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
		"default": "Heading"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
