{% if section.settings.enable_section %}
<section class="section-wrapper section-spacing text-center">
  <div class="page-width">
    {% if section.settings.title != blank %}
    <h2>{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
    <div class="text">{{ section.settings.text }}</div>
    {% endif %}
    <div class="size-chart">
      <div class="grid">
        <div class="grid__item medium-up--one-half chart">
          <div class="chart-header">
            <span>Ring size chart</span>
            <h4>For women</h4>
          </div>
          <div class="table-wrapper">
            <table>
              <tr>
                <th>US</th>
                <th>UK</th>
                <th>Japan</th>
                <th>EU</th>
                <th>MM</th>
              </tr>
              <tr>
                <td>3</td>
                <td>F</td>
                <td>4</td>
                <td>44</td>
                <td>44</td>
              </tr>
              <tr>
                <td>3 <small>1/4</small></td>
                <td>F <small>1/2</small></td>
                <td>4 <small>1/2</small></td>
                <td>45</td>
                <td>45</td>
              </tr>
              <tr>
                <td>3 <small>3/4</small></td>
                <td>G <small>1/2</small></td>
                <td>6</td>
                <td>46</td>
                <td>46</td>
              </tr>
              <tr>
                <td>4</td>
                <td>H</td>
                <td>7</td>
                <td>47</td>
                <td>47</td>
              </tr>
              <tr>
                <td>4 <small>1/2</small></td>
                <td>I</td>
                <td>8</td>
                <td>48</td>
                <td>48</td>
              </tr>
              <tr>
                <td>4 <small>3/4</small></td>
                <td>I <small>1/2</small></td>
                <td>9</td>
                <td>49</td>
                <td>49</td>
              </tr>
              <tr>
                <td>5 <small>1/4</small></td>
                <td>J <small>1/2</small></td>
                <td>10</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>5 <small>1/2</small></td>
                <td>K</td>
                <td>11</td>
                <td>51</td>
                <td>51</td>
              </tr>
              <tr>
                <td>6</td>
                <td>L</td>
                <td>12</td>
                <td>52</td>
                <td>52</td>
              </tr>
              <tr>
                <td>6 <small>1/2</small></td>
                <td>M</td>
                <td>13</td>
                <td>53</td>
                <td>53</td>
              </tr>
              <tr>
                <td>6 <small>3/4</small></td>
                <td>M <small>1/2</small></td>
                <td>14</td>
                <td>54</td>
                <td>54</td>
              </tr>
              <tr>
                <td>7 <small>1/4</small></td>
                <td>N <small>1/2</small></td>
                <td>15</td>
                <td>55</td>
                <td>55</td>
              </tr>
              <tr>
                <td>7 <small>1/2</small></td>
                <td>O</td>
                <td>16</td>
                <td>56</td>
                <td>56</td>
              </tr>
              <tr>
                <td>8</td>
                <td>P</td>
                <td>17</td>
                <td>57</td>
                <td>57</td>
              </tr>
              <tr>
                <td>8 <small>1/4</small></td>
                <td>P <small>1/2</small></td>
                <td>18</td>
                <td>58</td>
                <td>58</td>
              </tr>
              <tr>
                <td>8 <small>3/4</small></td>
                <td>Q <small>1/2</small></td>
                <td>19</td>
                <td>59</td>
                <td>59</td>
              </tr>
              <tr>
                <td>9</td>
                <td>R</td>
                <td>20</td>
                <td>60</td>
                <td>60</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="grid__item medium-up--one-half chart">
          <div class="chart-header">
            <span>Ring size chart</span>
            <h4>For men</h4>
          </div>
          <div class="table-wrapper">
            <table>
              <tr>
                <th>US</th>
                <th>UK</th>
                <th>Japan</th>
                <th>EU</th>
                <th>MM</th>
              </tr>
              <tr>
                <td>8</td>
                <td>P</td>
                <td>17</td>
                <td>57</td>
                <td>57</td>
              </tr>
              <tr>
                <td>8 <small>1/4</small></td>
                <td>P <small>1/2</small></td>
                <td>18</td>
                <td>58</td>
                <td>58</td>
              </tr>
              <tr>
                <td>8 <small>3/4</small></td>
                <td>Q <small>1/2</small></td>
                <td>19</td>
                <td>59</td>
                <td>59</td>
              </tr>
              <tr>
                <td>9</td>
                <td>R</td>
                <td>20</td>
                <td>60</td>
                <td>60</td>
              </tr>
              <tr>
                <td>9 <small>1/2</small></td>
                <td>S</td>
                <td>21</td>
                <td>61</td>
                <td>61</td>
              </tr>
              <tr>
                <td>9 <small>3/4</small></td>
                <td>S <small>1/2</small></td>
                <td>22</td>
                <td>62</td>
                <td>62</td>
              </tr>
              <tr>
                <td>10 <small>1/4</small></td>
                <td>T <small>1/2</small></td>
                <td>23</td>
                <td>63</td>
                <td>63</td>
              </tr>
              <tr>
                <td>10 <small>1/2</small></td>
                <td>U</td>
                <td>24</td>
                <td>64</td>
                <td>64</td>
              </tr>
              <tr>
                <td>11</td>
                <td>V</td>
                <td>25</td>
                <td>65</td>
                <td>65</td>
              </tr>
              <tr>
                <td>11 <small>1/2</small></td>
                <td>V <small>1/2</small></td>
                <td>26</td>
                <td>66</td>
                <td>66</td>
              </tr>
              <tr>
                <td>11 <small>3/4</small></td>
                <td>W <small>1/2</small></td>
                <td>27</td>
                <td>67</td>
                <td>67</td>
              </tr>
              <tr>
                <td>12</td>
                <td>X <small>1/2</small></td>
                <td>28</td>
                <td>68</td>
                <td>68</td>
              </tr>
              <tr>
                <td>12 <small>1/2</small></td>
                <td>Y</td>
                <td>29</td>
                <td>69</td>
                <td>69</td>
              </tr>
              <tr>
                <td>13</td>
                <td>Z</td>
                <td>30</td>
                <td>70</td>
                <td>70</td>
              </tr>
              <tr>
                <td>13 <small>1/2</small></td>
                <td>Z <small>1/2</small></td>
                <td>31</td>
                <td>71</td>
                <td>71</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% assign ring_image = section.settings.ring_image | img_url: 'master' %}
    <div class="image-wrapper">
      <img class="lazyload" 
           src="{{ ring_image }}"
           data-src="{{ ring_image }}" 
           data-sizes="auto" 
           alt="" />
    </div>
  </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Size chart",
	"class": "rsg-size-chart",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable section",
        "default": true
      },
	  {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Ring size chart"
      },
	  {
        "type": "richtext",
        "id": "text",
        "label": "Text",
		"default": "<p>Find out the right size from our international ring size chart below.</p>"
      },
	  {
        "type": "image_picker",
        "id": "ring_image",
        "label": "Ring image"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
