<div class="starwars__section-spacer white-spacer {{ request.locale.name | handle }}"></div>
{% schema %}
  {
    "name": "Section spacer",
    "settings": [
		
	],
    "presets": [
      {
        "name": "Section spacer",
        "category": "Collection"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
