{% if collection.title contains '友情' %}
<p>友情の古典的な絆、忠実なR2-D2™と細心の注意を払ったC-3PO™は、銀河の最も明確な瞬間とスリリングな戦いのいくつかに関与する永続的な仲間です。 「友情」コレクションは、ドロイド特有のディテールと象徴的な色の手がかりでデザインされています。フレンドシップコレクションで友達に加わり、同盟を強化しましょう。</p>
{% elsif collection.title contains '銀河の力' %}
<p>「フォース・オブ・ギャラクシー」コレクションは、反対側から見たときの勇気とより大きな目的への献身を表しています。コレクションの詳細は、銀河帝国の恐れられているストームトルーパー軍と並置された伝説的なウーキー™戦士チューバッカ™の強力な強さを示しています。どちらも銀河で最も重要なものを守る準備ができています。勇気と忠誠心に触発されて、忠誠のこれらの弾力性のあるシンボルであなたの銀河の力に加わってください。</p>
{% elsif collection.title contains '天の愛' %}
<p>“天の愛”コレクションは、コミットメントの強さと混乱の銀河の闘争に耐えることができる愛の絆を生成します。  レア王女の勇敢なリーダーシップに触発さ™ 漢ソロの悪ふざけの英雄と™, この特別な接続は、より良い善のために弾力と愛情の表示です。  このコレクションは魅力的な、熱烈な大胆な大胆なアイコンとしてです。</p>
{% elsif collection.title contains '自然のバランス' %}
<p>ダゴバ™の神秘的な惑星とジェダイマスターヨーダ™のレッスンに触発された「自然の均衡」コレクションで、私たちの周りのエネルギーを目覚めさせましょう。教師と生徒の間で共有される知識は、力が内側からだけでなく、外側からも流れることを明らかにしています。このコレクションを通して、私たちの周囲を支えている自然のバランスを発見し、より壮大な環境における私たちの目的の重要性を確認してください。</p>
{% elsif collection.title contains '力のバランス' %}
<p>「フォースのバランス」コレクションは、光と闇のコントラスト、力と保護を表しています。自己発見と贖いの物語は、ダースベイダー™の堂々とした不吉な力と若いジェダイルークスカイウォーカー™の理想的な英雄を通して共有されます。このコレクションは、銀河帝国の壮大な建築と家族の運命と運命の啓示に触発されています。</p>
{% else %}
{{ collection.description }}
{% endif %}