{% include 'ring-size-guide-css' %}
<div class="page-ring-size-guide">
  <div class="page-width">{% include 'breadcrumbs' %}</div>
  {% section 'rsg-header' %}
  {% section 'rsg-option-1' %}
  {% section 'rsg-size-chart' %}
  {% section 'rsg-option-2' %}
</div>