{% include 'engagement-rings-css' %}

<div class="page-engagement-rings">
  {% section 'er-main-banner' %}
  {% section 'er-custom-section-1' %}
  {% section 'er-content' %}
  {% section 'er-custom-section-2' %}
  {% section 'er-ring-styles' %}
  {% section 'er-feature-row' %}
  {% section 'er-banner-with-content' %}
</div>