<section class="page-valentines-day">
  {% section 'vd-banner' %}
  {% section 'vd-content' %}
  {% section 'vd-heading-with-image' %}
  {% section 'vd-collection-light' %}
  {% section 'vd-collection-dark' %}
  {% section 'vd-collection-slider' %}
</section>
<style>
  body{
    background-image: url(https://cdn.shopify.com/s/files/1/0465/8787/1396/files/Path_47551.png?v=1611558288);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: contain;
  }
  .new__footer--inner {
    background: transparent !important;
  }
</style>