<div class="page-kyber-crystal-radiance">
  {% section 'video-player-on-scroll' %}
  {% section 'kyber-crystal-radiance' %}
  {% section 'image-comparison-slider' %}
  {% section 'crystal-radiance-steps' %}
  {% section 'crystal-collection' %}
  {% section 'custom-instagram' %}
</div>