{% section 'bon-banner' %}
<div class="starwars__section-spacer"></div>
{% section 'bon-text-only' %}
<div class="starwars__section-spacer"></div>
{% section 'bon-choose-side' %}
{% section 'bon-collection-slider' %}
{% section 'other-collections' %}
{% section 'custom-instagram' %}