{% render 'blog_page_css' %}
<div class="blog_page">
    <div class="page-width">
        {% render 'breadcrumbs' %}
    </div>
    {% section 'latest-blogs' %}
    {% section 'featured_blogs' %}
    {% section 'explore_blog' %}
</div>