{% include 'page-fathers-day-css' %}

<div class="page-fathers-day">
  {% section 'fathers-day-banner' %}
  <a href="https://online.flippingbook.com/view/33728982/" class="fbo-embed" 
     data-fbo-id="33728982" data-fbo-lightbox="yes" data-fbo-width="100%" 
     data-fbo-height="600px" data-fbo-version="1" style="max-width: 100%">
    2021_Star Wars_IAYFD_Catalouge
  </a>
  <script async defer src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=33728982"></script>
  {% section 'style-section-1' %}
  {% section 'style-section-2' %}
  {% section 'style-section-3' %}
  {% section 'mens-style-highlights' %}
  {% section 'something-unique' %}
  {% section 'gifts-under-300' %}
  {% section 'gifts-under-500' %}
  {% section 'gifts-under-800' %}
</div>