{% section 'itg-banner' %}
<div class="starwars__section-spacer"></div>
{% section 'itg-text-only' %}
<div class="starwars__section-spacer"></div>
{% section 'itg-choose-side' %}
{% section 'itg-collection-slider' %}
{% section 'other-collections' %}
{% section 'custom-instagram' %}

