<section class="page-valentines-day">
  {% section 'vd-banner' %}
  {% section 'vd-content' %}
  {% section 'vd-heading-with-image' %}
  {% section 'vd-collection-light' %}
  {% section 'vd-collection-dark' %}
  {% section 'vd-collection-slider' %}
</section>