<div class="page-width">
  <div class="sw__about-content">
    <div class="content-left">
      <svg xmlns="http://www.w3.org/2000/svg" width="226.681" height="131.316" viewBox="0 0 226.681 131.316"><defs><style>.sw__about-content .a{fill:#fff;}</style></defs>
        <g transform="translate(-170.639 -268.307)"><g transform="translate(170.639 268.307)"><path class="a" d="M291.167,364.96h-6.917c-.236,0-.41-.28-.41-.54,0-.1,3.677-11.953,3.677-11.953.13-.441.136-.46.2-.46h0c.057,0,.062.018.187.46,0,0,3.682,11.86,3.682,11.953C291.583,364.68,291.4,364.96,291.167,364.96Zm9.314-27.129a.606.606,0,0,0-.528-.428l-25.365.006a.576.576,0,0,0-.534.416s-14.04,46.3-14.034,46.39a.414.414,0,0,0,.416.422h16.771a.441.441,0,0,0,.267-.323l1.956-6.247a.446.446,0,0,1,.385-.261l15.461-.018a.509.509,0,0,1,.391.286l1.994,6.24a.414.414,0,0,0,.261.323h16.511a.415.415,0,0,0,.416-.41C314.849,384.147,300.48,337.831,300.48,337.831Z" transform="translate(-194.388 -286.666)"/><path class="a" d="M369.587,356.736l-10.307.007a.4.4,0,0,1-.273-.391l-.012-5.209a.4.4,0,0,1,.28-.385h9.456a3.077,3.077,0,0,1,3.316,3.086A2.9,2.9,0,0,1,369.587,356.736ZM419,352.713h23.353V337.394l-30.028.007a17.524,17.524,0,0,0-9.016,3.123,13.857,13.857,0,0,0-5.558,10.786,16.877,16.877,0,0,0,3.2,9.37c1.646,2.037,5.775,6.278,5.775,6.278a.516.516,0,0,1,.156.379.574.574,0,0,1-.571.571H383.177c-2.807-.013-3.005-1.123-3.005-1.292,0-.291.354-.471.354-.471a27.152,27.152,0,0,0,3.2-2.186,13.557,13.557,0,0,0,5.122-11.053,14.153,14.153,0,0,0-5.091-11.326,18.47,18.47,0,0,0-10.615-4.173h-33s0,46.943.007,46.955a.278.278,0,0,0,.286.273h18.373v-13.17c-.012-.236.348,0,.348,0l9.574,9.606c3.4,3.44,9.013,3.564,9.013,3.564l36.188-.012a14.467,14.467,0,0,0,10.544-4.3,15.257,15.257,0,0,0,.273-20.44c-1.006-1.223-5.054-5.49-5.88-6.371a.446.446,0,0,1-.167-.347A.459.459,0,0,1,419,352.713Z" transform="translate(-215.677 -286.664)"/><path class="a" d="M227.882,384.637a.281.281,0,0,0,.261-.223s14.214-46.689,14.214-46.738c0-.131-.081-.267-.211-.267,0,0-17.5-.006-17.51,0-.087-.006-.143.056-.168.156,0,.012-3.619,12.139-3.619,12.145-.019.106-.075.167-.162.167a.191.191,0,0,1-.174-.167l-3.8-12.152a.161.161,0,0,0-.168-.149c0-.006-19.335-.006-19.335-.006a.171.171,0,0,0-.131.112s-3.4,12.189-3.4,12.2c-.013.106-.074.167-.167.161a.156.156,0,0,1-.162-.137l-3.608-12.2a.142.142,0,0,0-.137-.137H170.918a.277.277,0,0,0-.279.273.241.241,0,0,0,.018.074s14.412,46.632,14.418,46.664a.27.27,0,0,0,.255.223h15.5a.321.321,0,0,0,.211-.223c0-.012,5.4-17.367,5.4-17.367h0c.031-.112.068-.168.162-.168a.175.175,0,0,1,.161.168l5.271,17.442a.232.232,0,0,0,.211.149Z" transform="translate(-170.639 -286.666)"/><path class="a" d="M214.4,268.316a17.635,17.635,0,0,0-9.029,3.117,13.9,13.9,0,0,0-5.539,10.785,16.884,16.884,0,0,0,3.2,9.382c1.639,2.024,5.781,6.3,5.781,6.3a.531.531,0,0,1,.149.373.575.575,0,0,1-.571.577l-37.746.007v16.684h45.353a14.853,14.853,0,0,0,10.829-24.763c-1.018-1.229-5.054-5.476-5.886-6.352a.477.477,0,0,1,.137-.8h21.845v31.915h16.8V283.709h20.391V268.316Z" transform="translate(-170.639 -268.309)"/><path class="a" d="M419.094,287.651l-10.307.006a.4.4,0,0,1-.267-.391l-.012-5.2a.4.4,0,0,1,.273-.385h9.451a3.074,3.074,0,0,1,3.322,3.086A2.887,2.887,0,0,1,419.094,287.651Zm13.6,11.171c-2.819-.007-3.011-1.13-3.011-1.285,0-.286.354-.466.354-.466a28.042,28.042,0,0,0,3.2-2.192,13.528,13.528,0,0,0,5.122-11.058,14.168,14.168,0,0,0-5.079-11.32,18.5,18.5,0,0,0-10.625-4.185h-33v46.961a.285.285,0,0,0,.291.273c.025-.007,18.368-.007,18.368-.007V302.38c0-.236.354.007.354.007l9.569,9.605c3.4,3.44,9.028,3.552,9.028,3.552h28.246l.007-16.721Z" transform="translate(-228.832 -268.309)"/><path class="a" d="M341.887,295.864h-6.911a.5.5,0,0,1-.416-.534c0-.1,3.676-11.947,3.676-11.947.13-.454.167-.46.2-.46h0c.025,0,.062.006.193.46,0,0,3.676,11.847,3.676,11.947A.5.5,0,0,1,341.887,295.864Zm9.308-27.135a.594.594,0,0,0-.54-.422l-25.371.007a.575.575,0,0,0-.527.416s-14.009,46.309-14.015,46.4a.417.417,0,0,0,.422.416h16.771a.436.436,0,0,0,.267-.31l1.943-6.253a.455.455,0,0,1,.386-.266l15.467.006a.414.414,0,0,1,.385.267l2.006,6.247a.43.43,0,0,0,.267.316l16.5-.007a.413.413,0,0,0,.422-.4C365.575,315.057,351.195,268.729,351.195,268.729Z" transform="translate(-207.865 -268.307)"/><g transform="translate(215.28 93.476)"><path class="a" d="M465.98,396.209v3.924h-.745v-3.924h-1.416v-.6h3.571v.6Zm6.563,3.924v-3.782h-.018l-1.484,3.782h-.472l-1.5-3.782h-.007v3.782h-.745v-4.526h1.155l1.347,3.44,1.335-3.44h1.13v4.526Z" transform="translate(-463.819 -395.607)"/></g></g><g transform="translate(187.421 384.743)"><path class="a" d="M204.74,430.319h-.446a2.94,2.94,0,0,0-.212-1.116,2.759,2.759,0,0,0-.587-.9,2.713,2.713,0,0,0-.927-.606,3.194,3.194,0,0,0-1.209-.222h-4.3v6.248h3.217a1.392,1.392,0,0,0,.739-.18,1.337,1.337,0,0,0,.458-.457,1.787,1.787,0,0,0,.223-.617,3.919,3.919,0,0,0,.059-.68h.422v4.528h-.422a3.759,3.759,0,0,0-.059-.67,1.781,1.781,0,0,0-.223-.606,1.242,1.242,0,0,0-.458-.446,1.456,1.456,0,0,0-.739-.17h-3.217v5.867a.5.5,0,0,0,.153.35,1.445,1.445,0,0,0,.375.276,1.825,1.825,0,0,0,.47.17,2.039,2.039,0,0,0,.411.054v.382h-4.978v-.4c.109-.013.247-.039.41-.073a2.934,2.934,0,0,0,.482-.149,1.135,1.135,0,0,0,.388-.255.521.521,0,0,0,.152-.373V428.129a.52.52,0,0,0-.152-.372,1.126,1.126,0,0,0-.388-.255,2.925,2.925,0,0,0-.482-.149c-.164-.034-.3-.059-.41-.074v-.4H204.74Z" transform="translate(-193.493 -426.876)"/><path class="a" d="M220.5,441.521h-4.978V441.2a3.131,3.131,0,0,0,.41-.085,2.078,2.078,0,0,0,.47-.181,1.661,1.661,0,0,0,.388-.275.483.483,0,0,0,.165-.351V428.044a.391.391,0,0,0-.176-.308,1.713,1.713,0,0,0-.41-.234,3.079,3.079,0,0,0-.47-.149c-.157-.034-.282-.059-.376-.074v-.4H220.5v.4c-.109.015-.242.04-.4.074a2.217,2.217,0,0,0-.458.16,1.6,1.6,0,0,0-.387.255.45.45,0,0,0-.165.34v12.2a.447.447,0,0,0,.165.34,1.35,1.35,0,0,0,.387.245,3.291,3.291,0,0,0,.47.159c.164.042.293.07.387.085Z" transform="translate(-199.347 -426.876)"/><path class="a" d="M244.024,427.258c-.141,0-.325.008-.552.021a3.841,3.841,0,0,0-.681.107,1.786,1.786,0,0,0-.587.255.522.522,0,0,0-.247.448v13.432H240.83l-9.18-11.329V440.33a.477.477,0,0,0,.258.416,2.131,2.131,0,0,0,.61.245,4.809,4.809,0,0,0,.7.116c.235.023.407.033.516.033v.382h-4.977v-.382a4.662,4.662,0,0,0,.5-.043,5.057,5.057,0,0,0,.693-.139,2.336,2.336,0,0,0,.611-.255.464.464,0,0,0,.258-.4v-12.28a.452.452,0,0,0-.258-.406,2.051,2.051,0,0,0-.611-.224,6.016,6.016,0,0,0-.692-.106q-.34-.033-.5-.033v-.382h3.169l9.2,11.35V428.068a.484.484,0,0,0-.235-.416,1.774,1.774,0,0,0-.562-.245,4.412,4.412,0,0,0-.657-.118c-.22-.021-.385-.032-.493-.032h-.164v-.382h5Z" transform="translate(-202.864 -426.876)"/><path class="a" d="M268.347,441.521H256.419v-.4c.109-.013.247-.038.411-.073a2.9,2.9,0,0,0,.481-.149,1.119,1.119,0,0,0,.388-.255.52.52,0,0,0,.153-.372V428.129a.521.521,0,0,0-.153-.372,1.119,1.119,0,0,0-.388-.255,2.845,2.845,0,0,0-.481-.15c-.164-.034-.3-.059-.411-.074v-.4h11.247v3.443h-.446a3.18,3.18,0,0,0-.2-1.126,2.608,2.608,0,0,0-.587-.924,2.737,2.737,0,0,0-.927-.616,3.169,3.169,0,0,0-1.22-.224h-4.3v6.292h3.217a1.388,1.388,0,0,0,.739-.181,1.331,1.331,0,0,0,.458-.457,1.79,1.79,0,0,0,.223-.617,3.988,3.988,0,0,0,.059-.68h.423v4.528h-.423a3.837,3.837,0,0,0-.059-.67,1.791,1.791,0,0,0-.223-.606,1.243,1.243,0,0,0-.458-.446,1.459,1.459,0,0,0-.739-.17h-3.217v6.547H265.2a2.578,2.578,0,0,0,1.139-.244,2.733,2.733,0,0,0,.857-.638,2.6,2.6,0,0,0,.528-.9,3.157,3.157,0,0,0,.177-1.043v-.148h.446Z" transform="translate(-210.213 -426.876)"/><path class="a" d="M299.848,427.259a2.678,2.678,0,0,0-.458.043,1.912,1.912,0,0,0-.458.137,1.028,1.028,0,0,0-.352.257.571.571,0,0,0-.141.394v9.6a6.07,6.07,0,0,1-.212,1.66,3.227,3.227,0,0,1-.68,1.278,3.146,3.146,0,0,1-1.221.83,4.992,4.992,0,0,1-1.832.3,5.136,5.136,0,0,1-1.162-.127,2.906,2.906,0,0,1-.963-.4,2.02,2.02,0,0,1-.9-1.764h.282a1.379,1.379,0,0,0,.693,1.254,3.043,3.043,0,0,0,1.538.382,2.22,2.22,0,0,0,1.268-.319,2.014,2.014,0,0,0,.7-.808,3.227,3.227,0,0,0,.293-1.1q.059-.606.06-1.181v-9.665a.492.492,0,0,0-.153-.363,1.249,1.249,0,0,0-.376-.245,1.8,1.8,0,0,0-.469-.128,3.527,3.527,0,0,0-.435-.031v-.382h4.978Z" transform="translate(-219.525 -426.876)"/>
          <path class="a" d="M321.234,441.522H309.307v-.4c.109-.014.246-.039.411-.073a2.953,2.953,0,0,0,.481-.149,1.107,1.107,0,0,0,.387-.255.521.521,0,0,0,.153-.373V428.13a.519.519,0,0,0-.153-.372,1.109,1.109,0,0,0-.387-.255,2.81,2.81,0,0,0-.481-.149c-.165-.034-.3-.06-.411-.075v-.4h11.246v3.442h-.446a3.18,3.18,0,0,0-.2-1.126,2.624,2.624,0,0,0-.587-.924,2.739,2.739,0,0,0-.928-.616,3.161,3.161,0,0,0-1.22-.224h-4.3v6.292h3.216a1.381,1.381,0,0,0,.739-.181,1.329,1.329,0,0,0,.458-.457,1.8,1.8,0,0,0,.223-.618,4.056,4.056,0,0,0,.059-.68h.422v4.529h-.423a3.909,3.909,0,0,0-.058-.67,1.793,1.793,0,0,0-.223-.605,1.25,1.25,0,0,0-.458-.446,1.46,1.46,0,0,0-.739-.17h-3.216v6.547h5.212a2.578,2.578,0,0,0,1.139-.245,2.719,2.719,0,0,0,.857-.638,2.6,2.6,0,0,0,.528-.9,3.173,3.173,0,0,0,.176-1.043v-.148h.446Z" transform="translate(-224.266 -426.876)"/><path class="a" d="M355.555,427.279a2.8,2.8,0,0,0-.684,0,2.963,2.963,0,0,0-.69.17,1.99,1.99,0,0,0-.6.35,1.347,1.347,0,0,0-.376.522l-5.189,13.2h-.681l-4.554-11.138-4.062,11.138h-.728l-5.471-13.413a1.51,1.51,0,0,0-.481-.606,1.111,1.111,0,0,0-.763-.244l-.141.021v-.4h4.978v.4a2.8,2.8,0,0,0-.423-.01,2.069,2.069,0,0,0-.434.064.752.752,0,0,0-.341.191.5.5,0,0,0-.141.373,5.847,5.847,0,0,0,.294.839q.293.756.751,1.85t.986,2.37q.528,1.275,1,2.381t.81,1.893q.339.785.387.913l4.3-11.265h.327l4.767,11.669q.093-.255.434-1.095t.776-1.967q.435-1.126.927-2.391c.329-.843.625-1.623.893-2.339s.49-1.317.668-1.807a5.338,5.338,0,0,0,.271-.839.682.682,0,0,0-.129-.425.872.872,0,0,0-.341-.266,1.63,1.63,0,0,0-.468-.128,4.032,4.032,0,0,0-.493-.032,1.364,1.364,0,0,0-.178.01,1.5,1.5,0,0,1-.2.01V426.9h5Z" transform="translate(-230.065 -426.876)"/><path class="a" d="M381.414,441.522H369.487v-.4c.109-.013.247-.039.41-.073a2.811,2.811,0,0,0,.482-.149,1.129,1.129,0,0,0,.388-.255.521.521,0,0,0,.152-.373V428.13a.522.522,0,0,0-.152-.372,1.13,1.13,0,0,0-.388-.255,2.953,2.953,0,0,0-.482-.149c-.163-.034-.3-.059-.41-.075v-.4h11.247v3.442h-.447a3.19,3.19,0,0,0-.2-1.126,2.591,2.591,0,0,0-.587-.925,2.766,2.766,0,0,0-.927-.616,3.173,3.173,0,0,0-1.221-.223h-4.3v6.292h3.216a1.389,1.389,0,0,0,.741-.181,1.325,1.325,0,0,0,.457-.456,1.823,1.823,0,0,0,.223-.617,4.071,4.071,0,0,0,.059-.681h.421v4.529h-.421a3.9,3.9,0,0,0-.059-.67,1.813,1.813,0,0,0-.223-.606,1.248,1.248,0,0,0-.457-.446,1.469,1.469,0,0,0-.741-.17h-3.216v6.547h5.212a2.591,2.591,0,0,0,1.14-.244,2.752,2.752,0,0,0,.858-.639,2.627,2.627,0,0,0,.528-.9,3.171,3.171,0,0,0,.176-1.043v-.148h.446Z" transform="translate(-240.256 -426.876)"/><path class="a" d="M401.662,441.522h-10.4v-.4a3.592,3.592,0,0,0,.459-.032,1.814,1.814,0,0,0,.47-.126.947.947,0,0,0,.363-.267.607.607,0,0,0,.142-.4V428.045a.392.392,0,0,0-.177-.308,1.673,1.673,0,0,0-.411-.234,2.974,2.974,0,0,0-.469-.149c-.156-.034-.282-.059-.376-.075v-.4h4.978v.4c-.109.016-.244.04-.4.075a2.289,2.289,0,0,0-.459.159,1.653,1.653,0,0,0-.387.255.451.451,0,0,0-.165.34V440.97h4.11a3.227,3.227,0,0,0,1.244-.192,1.46,1.46,0,0,0,.681-.562,2.114,2.114,0,0,0,.294-.894,10.6,10.6,0,0,0,.058-1.157h.445Z" transform="translate(-246.041 -426.876)"/><path class="a" d="M425.739,441.522h-3.756l-5.354-7.163h-1.173v5.951a.447.447,0,0,0,.163.34,1.36,1.36,0,0,0,.388.245,3.2,3.2,0,0,0,.469.16c.165.042.294.07.388.085v.382h-4.979V441.2a2.455,2.455,0,0,0,.411-.1,3.249,3.249,0,0,0,.47-.181,1.421,1.421,0,0,0,.386-.266.5.5,0,0,0,.164-.371V428.045a.39.39,0,0,0-.176-.308,1.76,1.76,0,0,0-.41-.234,3.113,3.113,0,0,0-.47-.149c-.157-.034-.282-.059-.376-.075v-.4h6.363a5.165,5.165,0,0,1,3.206.935,3.3,3.3,0,0,1,1.232,2.806,3.445,3.445,0,0,1-.259,1.328,3.523,3.523,0,0,1-.726,1.115,3.974,3.974,0,0,1-1.117.808,4.188,4.188,0,0,1-1.419.4l4.484,5.993a2.1,2.1,0,0,0,.916.7,3.1,3.1,0,0,0,1.173.17Zm-5.189-11.011a2.974,2.974,0,0,0-.869-2.243,3.336,3.336,0,0,0-2.417-.839h-1.808v6.335h1.808a3.649,3.649,0,0,0,1.409-.255,3.1,3.1,0,0,0,1.033-.691,2.792,2.792,0,0,0,.633-1.032A3.749,3.749,0,0,0,420.55,430.511Z" transform="translate(-251.522 -426.876)"/><path class="a" d="M449.313,427.259a3.909,3.909,0,0,0-1.655.288,2.506,2.506,0,0,0-1.256,1.012l-3.78,6.066v5.77a.348.348,0,0,0,.188.277,2.047,2.047,0,0,0,.434.222,4.555,4.555,0,0,0,.48.16c.157.043.274.071.352.085v.383H439.1v-.383a3.677,3.677,0,0,0,.421-.085,2.308,2.308,0,0,0,.493-.181,1.737,1.737,0,0,0,.4-.266.472.472,0,0,0,.165-.362v-5.621l-3.8-6.131a3.35,3.35,0,0,0-.363-.447,3.022,3.022,0,0,0-.495-.415,2.5,2.5,0,0,0-.574-.288,1.788,1.788,0,0,0-.587-.106l-.165.021v-.382h5.377v.382a3.182,3.182,0,0,0-.446-.01,1.441,1.441,0,0,0-.435.085.858.858,0,0,0-.33.213.525.525,0,0,0-.128.373.874.874,0,0,0,.118.427l3.428,5.565,3.382-5.416a.867.867,0,0,0,.14-.49.543.543,0,0,0-.153-.4.968.968,0,0,0-.363-.223,2.275,2.275,0,0,0-.47-.108,3.986,3.986,0,0,0-.469-.031l-.3.021v-.382h5.377Z" transform="translate(-257.554 -426.876)"/></g></g></svg>
    </div>
    <div class="content-right">
      {% unless section.settings.title == blank %}
      <h2>{{ section.settings.title }}</h2>
      {% endunless %}
      {% unless section.settings.paragraph == blank %}
      {{ section.settings.paragraph }}
      {% endunless %}
      {% unless section.settings.button_label == blank %}
      {% unless section.settings.button_url == blank %}
      <a href="{{ section.settings.button_url }}" class="btn_style2">{{ section.settings.button_label }}{% include 'icon-r-arrow' %}</a>
      {% endunless %}
      {% endunless %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Content Section",
  "class": "index-section index_about-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Recommended size 454x263 (px)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "<p>Paragraph</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "presets": [
  {
    "name": "About Content Section",
    "category": "Advanced layout"
  }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
