{% unless section.settings.hide_section == true %}
<div class="page-width text-center">
{% assign localName = request.locale.name | handle %}
{% if localName == "english"%}
{% unless section.settings.paragraph == blank %}
{{ section.settings.paragraph }}
{% endunless %}
{% else %}
{% unless section.settings.paragraph_japanese == blank %}
{{ section.settings.paragraph_japanese }}
{% endunless %}
{% endif %}
</div>
{% endunless %}

{% schema %}
  {
    "name": "Text Section",
	"class": "index-section themepage-text-section friendship-text-section",
    "settings": [
	  {
        "type": "checkbox",
        "id": "hide_section",
        "label": "Hide Section",
        "default": false
      },
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "<p>Paragraph</p>"
      },
      {
        "type": "richtext",
        "id": "paragraph_japanese",
        "label": "Paragraph (Japanese)",
        "default": "<p>誰もが知る友情の絆、忠実なR2-D2™と几帳面なC-3PO™はギャラクシーのスリル満点な戦いを共にした、不朽の仲間。”友情”は明瞭なドロイドデザインとアイコン的な色合いを表現したコレクションです。　”友情”コレクションで、この友情に加わり、あなたの絆を強くしよう。</p>"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
