{% section 'mandalorian-banner' %}
<div class="starwars__section-spacer english"></div>
{% section 'mandalorian-text-only' %}
<div class="starwars__section-spacer english"></div>
{% section 'mandalorian-choose-side' %}
{% section 'mandalorian-collection-slider' %}
{% section 'other-collections' %}
{% section 'custom-instagram' %}
