{% section 'fog-banner' %}
<div class="starwars__section-spacer"></div>
{% section 'fog-text-only' %}
<div class="starwars__section-spacer"></div>
{% section 'fog-choose-side' %}
{% section 'fog-collection-slider' %}
{% section 'other-collections' %}
{% section 'custom-instagram' %}
