{% section 'friendship-banner' %}
<div class="starwars__section-spacer"></div>
{% section 'friendship-text-only' %}
<div class="starwars__section-spacer"></div>
{% section 'friendship-choose-side' %}
{% section 'friendship-collection-slider' %}
{% section 'other-collections' %}
{% section 'custom-instagram' %}

