.password-page {
  height: 100vh;
}
a.login-link{
  position: absolute;
  top: 50px;
  right: 50px;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 2.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maindiv {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(https://cdn.shopify.com/s/files/1/0465/8787/1396/files/Group_26678_2x_2c47d2cf-6104-48e3-8ddc-be352a6f2148.png?v=1598710178) #000;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.forwordlink {
  display: flex;
  justify-content: flex-end;
  padding-top: 18px;
  padding-right: 20px;
}

.inputfield {
  letter-spacing: 2.8px;
  color: #ffffff;
  background: transparent;
  border: none;
  width: 200px;
  padding: 6px 0px;
  font-size: 12px;
  outline: none;
}

.arrowimg {
  width: 28px;
  height: 28px;
  margin-bottom: -8px;
}

.middlecontent {
  background: url(https://cdn.shopify.com/s/files/1/0465/8787/1396/files/Box_2x_d9bfc64a-d4b5-48c7-8a5e-aec5393b6c41.png?v=1604396862);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 511px;
  padding: 40px 20px;
  margin: 60px auto;
}

.comingsoonsec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comingtitle {
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  margin: 0;
  font-family: "Playfair Display", serif;
}

.comingsoonsec img {
  margin-bottom: 35px;
  max-width: 138px;
}
.datecontent {
  font-size: 20px;
  color: #fff;
}

.timersec {
  list-style: none;
  padding: 0;
  margin: 40px 0px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.timersec li .timer {
  background: #242424;
  display: block;
  width: 61px;
  height: 61px;
  text-align: center;
  font-size: 35px;
  color: #fff;
  box-sizing: border-box;
  padding-top: 8px;
}

.timercontent {
  letter-spacing: 1.5px;
  color: #ffffff;
  opacity: 0.5;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-top: 6px;
}

.timertext {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 22px;
}
.emailinputdiv {
  display: flex;
}

.emailinputfield {
  background: #000000;
  border: 1px solid #333;
  padding: 15px 10px;
  font-size: 12px;
  color: #646464;
  margin-right: 0;
  min-width: 300px;
}

.emailinputfield::placeholder,#login_form input[type="password"]::placeholder {
    color: #fff;
}

.submitbtn {
  background: #333333;
  border: none;
  padding: 16px 22px;
  color: #fafafb;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.4px;
}
.modal__inner {
  background: url(https://cdn.shopify.com/s/files/1/0465/8787/1396/files/Group_26678_2x_2c47d2cf-6104-48e3-8ddc-be352a6f2148.png?v=1598710178) #000;
}

.password__form-heading {
  margin-bottom: 25px;
  color: #fff;
}
.password-content,.text-link {
  color: #fff;
}

#login_form input[type="password"]{
  background: #000;
  border: 1px solid #333;
  margin-bottom: 0;
  color:#fff;
}
#login_form .btn--narrow{
  font-family: "Source Sans Pro", sans-serif;
}
.template-password a:hover{
  opacity: 0.8 !important;
  color: #fff !important;
}

/* Responsive css */


@media only screen and (max-width: 768px) {
  .forwordlink {
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  a.login-link{
    top:20px;
  }
  .middlecontent {
    width: 100%;
    max-width:90%;
  }
  .emailinputfield {
    min-width: 200px;
  }
}
