{% assign localName = request.locale.name | handle %}
{% if localName == 'english' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      {% if collection.handle  == 'star-wars-mens-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-mens-jewelry">Men’s Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Men’s Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-unisex-jewelry">Unisex Collection</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> Friendship Collection </a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-womens-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings for Women</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants for Her</a></li>
        <li><a href="/collections/star-wars-earrings">Women’s Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants for Women</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces for Her</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-unisex-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">His & Her Diamond Rings</a></li>
        <li><a href="/collections/star-wars-bracelets">His & Her Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-unisex-jewelry"> Unisex Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants"> Diamond Necklaces</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry"> Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry"> Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> Friendship Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-bracelets' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles </a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3PO Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">Darth Vader Styles</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">Luke Skywalker Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-earrings' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-womens-jewelry">Diamond Necklaces for Her</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">Darth Vader Styles</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">Luke Skywalker Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Grogu Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-necklaces-pendants' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-womens-jewelry">Diamond Necklaces for Her</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets </a></li>
        <li><a href="/pages/the-mandalorian-and-grogu-the-child-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> Friendship Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry"> Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry"> Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-rings' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-grogu-the-child-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-pendants' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3PO Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">Darth Vader Styles</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">Luke Skywalker Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-c-3po-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings </a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">Darth Vader Styles</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">Luke Skywalker Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry"> R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-chewbacca-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">Yoda Styles</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">Darth Vader Styles</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">Luke Skywalker Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry"> R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-darth-vader-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings </a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">Yoda Styles</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">Luke Skywalker Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles </a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-han-solo-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles </a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Grogu Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">Yoda Styles</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">Luke Skywalker Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-luke-skywalker-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">Yoda Styles</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Grogu Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
      </ul>


      {% elsif collection.handle  == 'star-wars-princess-leia-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces </a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants </a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings </a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">Yoda Styles</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Grogu Styles</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">Princess C-3PO Styles</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
      </ul>


      {% elsif collection.handle  == 'star-wars-r2-d2-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">Yoda Styles</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Grogu Styles</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">Princess C-3PO Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-stormtrooper-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">Yoda Styles</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Grogu Styles</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">Princess C-3PO Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-symbols-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-bracelets"> Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">Yoda Styles</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Grogu Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3PO Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'grogu-the-child-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants"> Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets </a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles </a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">Yoda Styles</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">Stormtrooper Styles</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3PO Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-the-mandalorian-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants"> Diamond Necklaces</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-yoda-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants"> Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants </a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2 Styles</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">Han Solo Styles</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">Chewbacca Styles</a></li>
        <li><a href="/collections/star-wars-symbols-jewelry">Symbols Styles</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Grogu Styles</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">Princess Leia</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3PO Styles</a></li>
      </ul>

      {% elsif page.handle  == 'collections' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/pages/the-mandalorian-and-grogu-the-child-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry"> Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> Friendship Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-the-mandalorian-and-grogu-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings </a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection </a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Frindship Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'the-mandalorian-and-grogu-the-child-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings </a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-into-the-galaxy-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets"> Diamond Bracelets</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">Grogu Styles</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry"> Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-into-the-galaxy-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants"> Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-balance-of-nature-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection </a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'balance-of-nature-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection </a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection </a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> Friendship Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-balance-of-the-force-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants </a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection </a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'balance-of-nature-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of Force Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry"> Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> Friendship Collection </a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side </a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-celestial-love-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings </a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection </a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-princess-leia-han-solo-celestial-love-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets"> Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry"> The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> Friendship Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side </a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-forces-of-the-galaxy-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets">Diamond Bracelets</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-forces-of-the-galaxy-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-bracelets"> Diamond Necklaces</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> Friendship Collection </a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-friendship-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-r2-d2-c-3po-friendship-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants </a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry"> Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-light-side-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings </a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection </a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">Dark Side</a></li>
      </ul>

      {% elsif collection.handle == 'star-wars-dark-side-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings</a></li>
        <li><a href="/collections/star-wars-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">Diamond Necklaces</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection </a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry"> Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side</a></li>
      </ul>

      {% else %}
      <ul>
        <li><a href="/collections/star-wars-rings">Diamond Rings </a></li>
        <li><a href="/collections/star-wars-earrings"> Diamond Earrings </a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">Friendship Collection</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">Light Side </a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry"> Dark Side</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% else %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>人気検索</h3>
      {% if collection.handle  == 'star-wars-mens-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-mens-jewelry">メンズダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">メンズダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-unisex-jewelry">ユニセックスコレクション</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> 友情コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-womens-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">レディースダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">彼女のダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">レディースダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">レディースダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">彼女のダイアモンドネックレス</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-unisex-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">彼と彼女のダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-bracelets">彼と彼女のダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-unisex-jewelry"> ユニセックスダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants"> ダイアモンドネックレうす</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry"> 自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry"> バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> 友情コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-bracelets' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3POスタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">ダースベイダースタイル</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">ルーク・スカイウォーカースタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-earrings' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-womens-jewelry">彼女のダイアモンドネックレス</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">ダースベイダースタイル</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">ルーク・スカイウォーカースタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">グローグースタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-necklaces-pendants' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-womens-jewelry">彼女のダイアモンドネックレス</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット </a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> 友情コレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry"> 銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry"> ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-rings' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-pendants' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3POスタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">ダースベイダースタイル</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">ルーク・スカイウォーカースタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-c-3po-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング </a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">ダースベイダースタイル</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">ルーク・スカイウォーカースタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry"> R2-D2スタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-chewbacca-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">ヨーダスタイル</a></li>
        <li><a href="/collections/star-wars-darth-vader-jewelry">ダースベイダースタイル</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">ルーク・スカイウォーカースタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry"> R2-D2スタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-darth-vader-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング </a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">ヨーダスタイル</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">ルーク・スカイウォーカースタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル </a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-han-solo-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル </a></li>
        <li><a href="/collections/grogu-the-child-jewelry">グローグースタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">ヨーダスタイル</a></li>
        <li><a href="/collections/star-wars-luke-skywalker-jewelry">ルーク・スカイウォーカースタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-luke-skywalker-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">グローグースタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">ヨーダスタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
      </ul>


      {% elsif collection.handle  == 'star-wars-princess-leia-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす </a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント </a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング </a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">グローグースタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">ヨーダスタイル</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">Princess C-3POスタイル</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
      </ul>


      {% elsif collection.handle  == 'star-wars-r2-d2-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">ヨーダスタイル</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">グローグースタイル</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">Princess C-3POスタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-stormtrooper-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">ヨーダスタイル</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">グローグースタイル</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">Princess C-3POスタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-symbols-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-bracelets"> ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">ヨーダスタイル</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">グローグースタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラ</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3POスタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'grogu-the-child-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/diamond-pendants"> ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット </a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル </a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-yoda-jewelry">ヨーダスタイル</a></li>
        <li><a href="/collections/star-wars-stormtrooper-jewelry">ストームトルーパースタイル</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3POスタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラスタイル</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-the-mandalorian-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants"> ダイアモンドネックレうす</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-yoda-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants"> ダイアモンドネックレうす</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント </a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/collections/star-wars-r2-d2-jewelry">R2-D2スタイル</a></li>
        <li><a href="/collections/star-wars-han-solo-jewelry">ハン・ソロスタイル</a></li>
        <li><a href="/collections/star-wars-chewbacca-jewelry">チューバッカスタイル</a></li>
        <li><a href="/collections/star-wars-symbols-jewelry">シンボルスタイル</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">グローグースタイル</a></li>
        <li><a href="/collections/star-wars-princess-leia-jewelry">プリンセスレイラ</a></li>
        <li><a href="/collections/star-wars-c-3po-jewelry">C-3POスタイル</a></li>
      </ul>

      {% elsif page.handle  == 'collections' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry"> 神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> 友情コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-the-mandalorian-and-grogu-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング </a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション </a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif page.handle  == 'the-mandalorian-and-grogu-the-child-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング </a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-into-the-galaxy-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets"> ダイアモンドブレスレット</a></li>
        <li><a href="/collections/grogu-the-child-jewelry">グローグースタイル</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry"> ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-into-the-galaxy-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants"> ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-balance-of-nature-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション </a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'balance-of-nature-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション </a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション </a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> 友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-balance-of-the-force-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント </a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション </a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'balance-of-nature-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry"> 銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> 友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド </a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-celestial-love-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング </a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション </a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-princess-leia-han-solo-celestial-love-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets"> ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry"> ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> 友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド </a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-forces-of-the-galaxy-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets">ダイアモンドブレスレット</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-forces-of-the-galaxy-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-bracelets"> ダイアモンドネックレうす</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry"> 友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif page.handle  == 'star-wars-friendship-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-r2-d2-c-3po-friendship-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント </a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry"> バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif collection.handle  == 'star-wars-light-side-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング </a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション </a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry">ダークサイド</a></li>
      </ul>

      {% elsif collection.handle == 'star-wars-dark-side-jewelry' %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング</a></li>
        <li><a href="/collections/star-wars-earrings">ダイアモンドイヤリング</a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/collections/star-wars-necklaces-pendants">ダイアモンドネックレうす</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへ</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション </a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry"> バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド</a></li>
      </ul>

      {% else %}
      <ul>
        <li><a href="/collections/star-wars-rings">ダイアモンドリング </a></li>
        <li><a href="/collections/star-wars-earrings"> ダイアモンドイヤリング </a></li>
        <li><a href="/collections/diamond-pendants">ダイアモンドペンダント</a></li>
        <li><a href="/pages/star-wars-the-mandalorian-and-grogu-jewelry">ザ・マンダロリアンコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-nature-jewelry">自然のバランスコレクション</a></li>
        <li><a href="/pages/star-wars-balance-of-the-force-jewelry">バランス・オブ・ザ・フォースコレクション</a></li>
        <li><a href="/pages/star-wars-forces-of-the-galaxy-jewelry">銀河の力コレクション</a></li>
        <li><a href="/pages/star-wars-celestial-love-jewelry">神聖な愛コレクション</a></li>
        <li><a href="/pages/star-wars-friendship-jewelry">友情コレクション</a></li>
        <li><a href="/pages/star-wars-into-the-galaxy-jewelry">ギャラクシーへコレクション</a></li>
        <li><a href="/collections/star-wars-light-side-jewelry">ライトサイド </a></li>
        <li><a href="/collections/star-wars-dark-side-jewelry"> ダークサイド</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}