<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      {% if collection.handle  == 'mens-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/mens-diamond-jewelry/">Men’s Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/">Men’s Diamond Pendants</a></li>
        <li><a href="/collections/unisex-diamond-jewelry/">Unisex Collection</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/"> Friendship Collection </a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'womens-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings for Women</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants for Her</a></li>
        <li><a href="/collections/diamond-earrings/">Women’s Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants for Women</a></li>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces for Her</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'unisex-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">His & Her Diamond Rings</a></li>
        <li><a href="/collections/diamond-bracelets/">His & Her Diamond Bracelets </a></li>
        <li><a href="/collections/unisex-diamond-jewelry/"> Unisex Diamond Pendants </a></li>
        <li><a href="/collections/diamond-necklaces/"> Diamond Necklaces </a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/"> Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/"> Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/"> Friendship Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-bracelets' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/"> Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/">Han Solo Styles </a></li>
        <li><a href="/collections/c-3po-diamond-jewelry/">C-3PO Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/darth-vader-diamond-jewelry/">Darth Vader Styles</a></li>
        <li><a href="/collections/luke-skywalker-diamond-jewelry/">Luke Skywalker Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-earrings' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/womens-diamond-jewelry/">Diamond Necklaces for Her</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/darth-vader-diamond-jewelry/">Darth Vader Styles</a></li>
        <li><a href="/collections/luke-skywalker-diamond-jewelry/">Luke Skywalker Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">The Child Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-necklaces' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/womens-diamond-jewelry/">Diamond Necklaces for Her</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets </a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/"> Friendship Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/"> Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/"> Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-rings' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-pendants' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/">Han Solo Styles</a></li>
        <li><a href="/collections/c-3po-diamond-jewelry/">C-3PO Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/darth-vader-diamond-jewelry/">Darth Vader Styles</a></li>
        <li><a href="/collections/luke-skywalker-diamond-jewelry/">Luke Skywalker Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'c-3po-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings </a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/">Han Solo Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">c-3po-diamond-jewelryChewbacca Styles</a></li>
        <li><a href="/collections/darth-vader-diamond-jewelry/">Darth Vader Styles</a></li>
        <li><a href="/collections/luke-skywalker-diamond-jewelry/">Luke Skywalker Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/"> R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'chewbacca-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/"> Diamond Earrings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/"> Han Solo Styles</a></li>
        <li><a href="/collections/yoda-diamond-jewelry/">Yoda Styles</a></li>
        <li><a href="/collections/darth-vader-diamond-jewelry/">Darth Vader Styles</a></li>
        <li><a href="/collections/luke-skywalker-diamond-jewelry/"> Luke Skywalker Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/"> R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'darth-vader-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-rings/"> Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings </a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/">Han Solo Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/yoda-diamond-jewelry/">Yoda Styles</a></li>
        <li><a href="/collections/luke-skywalker-diamond-jewelry/">Luke Skywalker Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles </a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/"> R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'han-solo-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/"> Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles </a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">The Child Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/"> Chewbacca Styles</a></li>
        <li><a href="/collections/yoda-diamond-jewelry/">Yoda Styles</a></li>
        <li><a href="/collections/luke-skywalker-diamond-jewelry/">Luke Skywalker Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'luke-skywalker-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">Han Solo Styles </a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/yoda-diamond-jewelry/">Yoda Styles</a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">The Child Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles</a></li>
      </ul>


      {% elsif collection.handle  == 'princess-leia-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces </a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants </a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings </a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">Han Solo Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/yoda-diamond-jewelry/">Yoda Styles</a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">The Child Styles</a></li>
        <li><a href="/collections/c-3po-diamond-jewelry/">Princess C-3PO Styles</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles</a></li>
      </ul>


      {% elsif collection.handle  == 'r2-d2-1-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/">Han Solo Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/yoda-diamond-jewelry/">Yoda Styles</a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">The Child Styles</a></li>
        <li><a href="/collections/c-3po-diamond-jewelry/">Princess C-3PO Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'stormtrooper-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/"> Diamond Pendants </a></li>
        <li><a href="/collections/diamond-earrings/"> Diamond Earrings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles</a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/"> Han Solo Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/yoda-diamond-jewelry/">Yoda Styles</a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">The Child Styles</a></li>
        <li><a href="/collections/c-3po-diamond-jewelry/">Princess C-3PO Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/"> Princess Leia Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'symbols-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-bracelets/"> Diamond Bracelets</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles</a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/">Han Solo Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/yoda-diamond-jewelry/">Yoda Styles</a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">The Child Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia</a></li>
        <li><a href="/collections/c-3po-diamond-jewelry/">C-3PO Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'the-child-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-pendants/"> Diamond Pendants</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets </a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles </a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/">Han Solo Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/yoda-diamond-jewelry/">Yoda Styles</a></li>
        <li><a href="/collections/stormtrooper-diamond-jewelry/">Stormtrooper Styles</a></li>
        <li><a href="/collections/c-3po-diamond-jewelry/">C-3PO Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia Styles</a></li>
      </ul>

      {% elsif collection.handle  == 'the-mandalorian-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/diamond-necklaces/"> Diamond Necklaces</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">/collections/diamond-necklacesBalance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'yoda-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-necklaces/"> Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants </a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/collections/r2-d2-1-diamond-jewelry/">R2-D2 Styles</a></li>
        <li><a href="/collections/han-solo-diamond-jewelry/">Han Solo Styles</a></li>
        <li><a href="/collections/chewbacca-diamond-jewelry/">Chewbacca Styles</a></li>
        <li><a href="/collections/symbols-diamond-jewelry/">Symbols Styles</a></li>
        <li><a href="/collections/the-child-diamond-jewelry/">The Child Styles</a></li>
        <li><a href="/collections/princess-leia-diamond-jewelry/">Princess Leia</a></li>
        <li><a href="/collections/c-3po-diamond-jewelry/">C-3PO Styles</a></li>
      </ul>

      {% elsif page.handle  == 'collections' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/"> Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/"> Friendship Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'the-mandalorian-and-the-child-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings </a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection </a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Fri/collections/diamond-pendantsendship Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'the-child-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings </a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'into-the-galaxy-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/"> Diamond Bracelets</a></li>
        <li><a href="/collections/the-child/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/"> Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'into-the-galaxy-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/"> Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'balance-of-nature-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection </a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'balance-of-nature-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection </a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection </a></li>
        <li><a href="/pages/friendship-diamond-jewelry/"> Friendship Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'balance-of-the-force-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants </a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection </a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>



      {% elsif collection.handle  == 'balance-of-nature-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of Force Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/"> Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/"> Friendship Collection </a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side </a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>


      {% elsif page.handle  == 'celestial-love-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings </a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection </a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelrcelestial-love-diamond-jewelryy/">Into the Galaxy</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>


      {% elsif collection.handle  == 'celestial-love-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/"> Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/"> The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/"> Friendship Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side </a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'forces-of-the-galaxy-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/">Diamond Bracelets</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'forces-of-the-galaxy-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-bracelets/"> Diamond Necklaces</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/"> Friendship Collection </a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif page.handle  == 'friendship-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif collection.handle  == 'friendship-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants </a></li>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/"> Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>


      {% elsif collection.handle  == 'light-side-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings </a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection </a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/collections/dark-side-diamond-jewelry/">Dark Side</a></li>
      </ul>

      {% elsif collection.handle == 'dark-side-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-rings/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-earrings/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-pendants/">Diamond Pendants</a></li>
        <li><a href="/collections/diamond-necklaces/">Diamond Necklaces</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry/">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry/">Balance of Nature Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry/">Into the Galaxy</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry/">Celestial Love Collection </a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry/"> Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry/">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry/">Friendship Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry/">Light Side</a></li>
      </ul>

      {% else %}

      <ul>
        <li><a href="/collections/diamond-rings">Diamond Rings </a></li>
        <li><a href="/collections/diamond-earrings"> Diamond Earrings </a></li>
        <li><a href="/collections/diamond-pendants">Diamond Pendants</a></li>
        <li><a href="/pages/the-mandalorian-and-the-child-diamond-jewelry">The Mandalorian Collection</a></li>
        <li><a href="/pages/balance-of-nature-diamond-jewelry">Balance of Nature Collection</a></li>
        <li><a href="/pages/balance-of-the-force-diamond-jewelry">Balance of the Force Collection</a></li>
        <li><a href="/pages/forces-of-the-galaxy-diamond-jewelry">Forces of the Galaxy Collection</a></li>
        <li><a href="/pages/celestial-love-diamond-jewelry">Celestial Love Collection</a></li>
        <li><a href="/pages/friendship-diamond-jewelry">Friendship Collection</a></li>
        <li><a href="/pages/into-the-galaxy-diamond-jewelry">Into the Galaxy Collection</a></li>
        <li><a href="/collections/light-side-diamond-jewelry">Light Side </a></li>
        <li><a href="/collections/dark-side-diamond-jewelry"> Dark Side</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>